* {
  box-sizing: border-box;
}
@font-face {
  font-family: slkscr font;
  src: url("../../../../sources//fonts/silkscreen/slkscr.ttf");
}

.header-userProfile,
.info-userPerfil,
.seccion-tweets {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.nav-container-userProfile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  color: #fff;
  font-size: 20px;
  font-family: slkscr font;
  margin: 8px;
}
.btn-logout {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f50d5a;
  font-size: 16px;
  border: none;
  width: 116px;
  font-family: slkscr font;
}
#logout-icon {
  margin-left: 10px;
}

.info-userPerfil {
  background-color: #150714;
}

#photo-perfil-profile {
  height: 134px;
  border-radius: 50%;
  border: 3px solid yellow;
  margin-top: 18px;
}
#userName-profile {
  font-family: slkscr font;
  font-size: 30px;
  background-color: yellow;
}
#email-profile {
  font-size: 24px;
  font-family: "Fira Code";
  color: #fff;
  margin-top: -16px;
}

.post-container {
  display: flex;
  justify-content: space-between;
  width: 50%;
  color: #60265b;
  font-family: slkscr font;
  font-size: 24px;
}

#posttweet-container,
#favoritestweet-container {
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 8px;
}

#posttweet-container:hover,
#favoritestweet-container:hover {
  background-color: #60265b;
  color: #000;
  cursor: pointer;
}
.seccion-tweets {
  background-color: aquamarine;
}
