@font-face {
  font-family: slkscr font;
  src: url("../../../sources/fonts/silkscreen/slkscr.ttf");
}
.header-container,
.form-container,
.tweets-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.nav-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 50%;
}
#photoURL {
  border-radius: 50%;
  height: 33px;
}
#logo-feed {
  height: 35px;
}
#text-logo-feed {
  height: 12px;
}

#photoURLtweet {
  height: 56px;
  border-radius: 50%;
  margin-right: 24px;
}
.form-container {
  background-color: #150714;
}

.tweet-container {
  display: flex;
  margin-top: 20px;
  width: 50%;
}
.tweets-box {
  width: 50%;
  display: flex;
  flex-direction: column;
}

#text-area-tweet {
  height: 113px;
  width: 500px;
  background-color: #2f112d;
  color: #914d8b;
  font-size: 20px;
  resize: none;
  border: none;
  outline: none;
}
textarea::placeholder {
  color: #914d8b;
}
.progress-wrapper {
  width: 340px;
  margin-top: -5px;
}

.progress-bar {
  background-color: #00da76;
  height: 4px;
  transition: 0.2s ease;
}
.count-characters {
  display: flex;
  justify-content: space-between;
  margin-top: -16px;
  color: #fff;
}
#message-limit {
  color: #f50d5a;
}
.container-btn-post {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}
#btn-post {
  background-color: #2f112d;
  border: none;
  height: 35px;
  width: 102px;
  cursor: pointer;
  color: #150714;
  font-family: slkscr font;
  font-size: 18px;
}
#btn-post:disabled {
  background-color: #2f112d41;
  cursor: initial;
}
.tweets-content {
  margin-top: 20px;
}
