* {
  box-sizing: border-box;
  padding: 0;
}
@font-face {
  font-family: slkscr font;
  src: url("../../../sources/fonts/silkscreen/slkscr.ttf");
}
.section-tweet-container {
  display: flex;
  border-bottom: 2px solid #60265b;
  margin-bottom: 18px;
}
.photo-perfil-tweets {
  height: 56px;
  width: 56px;
  margin-right: 18px;
}
#photo-tweet {
  height: 56px;
  border-radius: 50%;
}
.tweets-box {
  display: flex;
}
.info-tweets {
  display: flex;
  justify-content: space-between;
}
.userName-fecha {
  display: flex;
  justify-content: center;
  align-items: center;
}
#userName {
  font-family: slkscr font;
  font-size: 20px;
  margin-right: 4px;
}
#date {
  font-size: 18px;
}
.user-color-red {
  background-color: #f50d5a;
}
.user-color-orange {
  background-color: #ff865c;
}
.user-color-yellow {
  background-color: #ffea5c;
}
.user-color-green {
  background-color: #00da76;
}
.user-color-blue {
  background-color: #0096ce;
}
.user-color-purple {
  background-color: #800fff;
}
#garbage-svg {
  height: 30px;
  padding: 8px;
}
.message-content {
  word-wrap: break-word;
  padding: 8px;
  color: #fff;
  font-size: 18px;
}
#tweet-msg::first-letter {
  text-transform: uppercase;
}
.like-container {
  display: flex;

  align-items: center;
}
#like-svg {
  height: 20px;
}
#contador-like {
  color: #f50d5a;
  font-size: 16px;
  margin-left: 4px;
}
