* {
  box-sizing: border-box;
}
@font-face {
  font-family: slkscr font;
  src: url("../../../sources/fonts/silkscreen/slkscr.ttf");
}
.container-tweet-card {
  display: flex;
  border-bottom: 3px solid blue;
}
.foto-perfil {
  width: 56px;
  height: 56px;
  flex: 1;
}
.foto-perfil img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}
.contenido-del-tweet {
  flex: 5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: slkscr font;
}
.contenido-mensaje {
  font-family: "Fira Code";
  font-size: 18px;
  color: #fff;
}
.user-color-red {
  background-color: #f50d5a;
}
.user-color-orange {
  background-color: #ff865c;
}
.user-color-yellow {
  background-color: #ffea5c;
}
.user-color-green {
  background-color: #00da76;
}
.user-color-blue {
  background-color: #0096ce;
}
.user-color-purple {
  background-color: #800fff;
}

.like {
  display: flex;
}
.like p {
  margin: 6px;
}
